<%- include('partials/header.ejs') %>

  <div class="container">
    <div class="row mt-5" >
      <div class="col-md-7">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>n</th>
              <th>name</th>
              <th>addres</th>
              <th>phone</th>
              <th>acctions</th>
            </tr>
          </thead>

          <tbody>
            <% if(data){ %>
              <% for(var i=0;i<data.length;i++){%>
                <tr>
                  <td> <%=data[i].id %></td>
                  <td> <%= data[i].name%></td>
                  <td> <%= data[i].address%></td>
                  <td> <%= data[i].phone%></td>
                  <td>
                    <a href="/delete/<%=data[i].id%>" class="btn btn-danger">DELETE</a>
                    <a href="/update/<%=data[i].id%>" class="btn btn-info">UPDATE</a>
                  </td>
                </tr>
              <% }%>
            <% }%>
          </tbody>
        </table>
      </div>
      <div class="col-md-5">
<div class="card">
  <div class="card-body">
    <form  action="/add" method="post">
      <div class="form-group">
        <input type="text" name="name" placeholder="name" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" name="address" placeholder="address" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" name="phone" placeholder="phone" class="form-control">
      </div>
          <button type="submit" class="btn btn-primary"> save customer</button>
    </form>
  </div>
</div>
      </div>
    </div>
  </div>


<%- include('partials/footer.ejs') %>
